[submodule "ox-ravel"]
	path = packages/ox-ravel
	url = https://github.com/Jonghyun-Yun/ox-ravel.git
[submodule "local/org-noter"]
	path = local/org-noter
	url = https://github.com/jonghyun-yun/org-noter
[submodule "local/scimax"]
	path = local/scimax
	url = https://github.com/Jonghyun-Yun/scimax.git
[submodule "local/ox-hugo"]
	path = local/ox-hugo
	url = https://github.com/Jonghyun-Yun/ox-hugo.git
[submodule "local/ox-ravel"]
	path = local/ox-ravel
	url = https://github.com/Jonghyun-Yun/ox-ravel.git
[submodule "emacs-overleaf"]
	path = local/emacs-overleaf
	url = https://github.com/Jonghyun-Yun/emacs-overleaf.git
